.standings {
  padding: 2rem;
}

.header {
  display: flex;
  width: 100%;
}

.table-title {
  width: 50%;
  margin-left: 0;
}

.division-buttons {
  width: 50%;
}

.teams-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.teams-table th,
td {
  white-space: normal;
  padding: 20px 10px;
  overflow: hidden;
}
.teams-table tr {
  border: 2px solid gray;
}

// table header
.teams-table-head th:not(:nth-child(2)) {
  width: 30px;
}

.teams-table-head tr th:nth-child(2) {
  text-align: left !important;
  width: 140px;
}

.teams-table-head {
  display: table-header-group;
  vertical-align: middle;
  //font-weight: 400;
  // FIXME: th's staying bold
  font-weight: normal !important;
  font-style: none;
}

// table body
.teams-table-body {
  font-weight: bold;
  color: blue;
}
